.post img {
  width: 100%;
}
body.tumblr {
  background: #000;
  color: #fff;
}

.tumblr .header-item span,
.tumblr .header-item a, {
  color: #fff;
  border-bottom-color: rgba(225,225,225,.5);
}

.tumblr a {
  color: #fff;
}

.post {
  position: relative;
  z-index: 1;
  @extend .sm-col-8;
  @extend .mx-auto;
  @extend .mt4;
  @extend .mb4;
}

.permalink {
  position: absolute;
  text-decoration: none;
  right: 0;
  top: 0;
}

.post__caption {
  position: relative;
  text-align: center;
  margin-top: 10px;
}

.tumblr_video_container {
  margin: 0 auto;
}



.post__caption p {
  margin-bottom: 0;
  margin-top: 0;
}

.postFullWidth {
  width: 100%;
  margin: 0;
}

.about {
  position: absolute;
  top: 0;
  width: 90%;
  padding: 5%;
  font-size: 100px;
  color: #fff;
  z-index: 9999;
  line-height: 1em;
  letter-spacing: -5px;
  display: none;
}

.about p {
  padding: 0;
  margin: 0;
}

.aboutToggle {
  display: block;
  position: fixed;
  top: 15px;
  left: 15px;
  font-size: 20px;
  color: #fff;
  z-index: 99999;
  a {
    opacity: .5;
    text-decoration: none;
    cursor: pointer;
    &:hover {
      opacity: 1;
    }
  }
}

.aboutToggle-close {
  display: none;
  font-size: 35px;
}
